@import "_variables";

h1 {
  margin: 0 auto;
}
.header-background {
  height: 100vh;
  background-image: linear-gradient(
      rgba(color(home-gradient1), 0.3),
      rgba(color(home-gradient2), 0.5)
    ),
    url(/media/Night-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-primary-main {
  font-size: 7rem;
  color: $home-head-light;
  text-shadow: 0.2rem 0.1rem $home-head-dark;
  padding-bottom: 1rem;
  font-family: $mainFont;
}
.header-primary-sub {
  text-align: center;
  font-size: 3rem;
  color: $home-head-light;
  text-shadow: 0.2rem 0.1rem $home-head-dark;
  padding-bottom: 3rem;
  font-family: $textFont;
}

.header-main-btn,
.header-main-btn:link,
.header-main-btn:visited {
  text-decoration: none;
  padding: 0.7rem 1rem;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 5rem;
  transition: all 0.3s;
  height: 2vh;
  width: 10rem;
}

.header-primary-btn,
.header-primary-btn::after {
  color: rgb(255, 255, 255);
  background-color: rgb(111, 19, 19);
}

.header-main-btn:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 198, 198);
  box-shadow: 0rem 0.3rem rgb(73, 0, 0);
  transform: scale(1.13);
}

//media
@media only screen and (max-width: 700px) {
  body {
    .header-primary-main {
      font-size: 6rem;
      color: $home-head-light;
      text-shadow: 0.2rem 0.1rem $home-head-dark;
      padding-bottom: 1rem;
    }
    .header-primary-sub {
      font-size: 2rem;
      color: $home-head-light;
      text-shadow: 0.2rem 0.1rem $home-head-dark;
      padding-bottom: 3rem;
    }

    .header-main-btn,
    .header-main-btn:link,
    .header-main-btn:visited {
      padding: 0.4rem 0.7rem;
      margin: 0.7rem auto;
      font-size: 1.8rem;
      border-radius: 5rem;
      transition: all 0.3s;
      height: 2vh;
      width: 8rem;
    }
  }
}

@media only screen and (max-width: $phoneportrait) {
  body {
    .header-background {
      height: 100vh;
    }
    .header-primary-main {
      font-size: 5.5rem;
      color: $home-head-light;
      text-shadow: 0.2rem 0.1rem $home-head-dark;
      padding-bottom: 1rem;

      .header-primary-sub {
        font-size: 1rem;
        color: $home-head-light;
        text-shadow: 0.2rem 0.1rem $home-head-dark;
        padding-bottom: 1rem;
      }
    }
  }
}
