@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  text-align: center;
}

@mixin flex-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-spacearound {
  display: flex;
  justify-content: space-around;
}
