$colors: (
  navbar: #2a0202,
  primary: rgb(245, 245, 245),
  home-gradient1: #803838,
  home-gradient2: #1f0606,
  place-light: rgba(41, 11, 11, 0.933),
  place-backg-dark: rgb(46, 24, 24),
  place-backg-dark2: rgb(34, 5, 5),
  italy1: green,
  italy2: #e6e6e6,
  italy3: #d65b5b,
  gal-backg: #000000,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

//screen-size
$smallphone: 300px;
$phoneportrait: 492px;
$phonelandscape: 670px;
$tablet: 768px;
$desktop: 1024px;
$largedesktop: 1200px;

$mainFont: "Dancing Script", cursive;
$textFont: "Josefin Sans", sans-serif;
$home-head-light: #fffafa;
$home-head-dark: #2b0000;

$home-mainFont: "Roboto Slab", serif;
$placesMain: "Bebas Neue", cursive;