h1 {
  margin: 0 auto;
}

.header-background {
  height: 80vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 56, 56, 0.3)), to(rgba(31, 6, 6, 0.5))), url(/media/Night-img.jpg);
  background-image: linear-gradient(rgba(128, 56, 56, 0.3), rgba(31, 6, 6, 0.5)), url(/media/Night-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-text-box {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.header-primary-main {
  font-size: 7rem;
  color: #fffafa;
  text-shadow: 0.2rem 0.1rem #2b0000;
  padding-bottom: 1rem;
  font-family: "Roboto Slab", serif;
}

.header-primary-sub {
  font-size: 4rem;
  color: #fffafa;
  text-shadow: 0.2rem 0.1rem #2b0000;
  padding-bottom: 3rem;
  font-family: "Josefin Sans", sans-serif;
}

.header-main-btn,
.header-main-btn:link,
.header-main-btn:visited {
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2vh;
  width: 10rem;
}

.header-primary-btn,
.header-primary-btn::after {
  color: white;
  background-color: #6f1313;
}

.header-main-btn:hover {
  color: black;
  background-color: #ffc6c6;
  -webkit-box-shadow: 0rem 0.3rem #490000;
          box-shadow: 0rem 0.3rem #490000;
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}

@media only screen and (max-width: 600px) {
  body .header-primary-main {
    font-size: 6rem;
    color: #fffafa;
    text-shadow: 0.2rem 0.1rem #2b0000;
    padding-bottom: 1rem;
  }
  body .header-primary-sub {
    font-size: 3rem;
    color: #fffafa;
    text-shadow: 0.2rem 0.1rem #2b0000;
    padding-bottom: 3rem;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  background-color: #2a0202;
  color: #ddd;
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation a {
  color: #ddd;
  float: left;
  padding: 1.4vh 1.6vh;
  text-decoration: none;
  font-size: 2.2rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  font-family: "Josefin Sans", sans-serif;
}

.navigation a:hover {
  background: #ddd;
  color: black;
}

.cities {
  border-left: 0.5vh #ddd solid;
  border-right: 0.5vh #ddd solid;
}

.food {
  border-left: 0.5vh #ddd solid;
  border-right: 0.5vh #ddd solid;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.italyimage1 {
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visititalia {
  font-size: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Dancing Script", cursive;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */